.boton-contenedor{
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #C8BCA8;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.operador{
  background-color: #222B22;
}

.boton-contenedor:hover{
    background-color: #F1C1DB;
}

.operador:hover{
  background-color: #6E5772;
}